RESEND_API_KEY=
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_WS_URL=localhost:3002
NEXT_PUBLIC_API_URL=http://localhost:3001
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_PRIVATE_KEY=
STRIPE_WEBHOOK_SECRET=

DATABASE_URL=postgresql://
REDIS_URL=redis://

TOKEN=DISCORD_BOT_TOKEN
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

WS_PORT=3002
API_PORT=3001

GUILD_ID=TESTING_GUILD_ID